* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --path-img: attr(data-path)
}

body,
html {
  height: 100%;
}

#root {
  height: 100%;
}
.app {
  background-image:url('./Images/P1.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.img1 {
  background-image: url('./Images/P1.jpg');
}

.img2 {
  background-image: url('./Images/P2.jpg');
}

.img3 {
  background-image: url('./Images/P3.jpg');
}

.img4 {
  background-image: url('./Images/P4.jpg');
}

.img5 {
  background-image: url('./Images/P5.jpg');
}

.img6 {
  background-image: url('./Images/P6.jpg');
}

.img7 {
  background-image: url('./Images/P7.jpg');
}

.img8 {
  background-image: url('./Images/P8.jpg');
}

.img9 {
  background-image: url('./Images/P9.jpg');
}

.img10 {
  background-image: url('./Images/P10.jpg');
}

.card {
  max-width: 500px;
  /* max-height: 400px; */
  width: 90%;
  padding: 28px;
  border-radius: 28px;
  background: #ffffffd9;
  text-align: center;
  font-family: calibri;
  position: fixed;
}

.heading {
  font-weight: 400;
  max-height: 400px;
  overflow: auto;
  margin-bottom: 31px;
  transition: height 1s ease;
}

.button {
  background: linear-gradient(45deg, #184c7c, black);
  color: #fff;
  padding: 12px 35px;
  border: 0;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.3s;
}

button.button:hover {
  background: #045db8;
}