* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  background: url('./Images/NightCityView.jpg');
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 500px;
  width: 90%;
  padding: 28px;
  border-radius: 28px;
  background: #ffffffd9;
  text-align: center;
  font-family: calibri;
  position: fixed;
}

.heading {
  margin-bottom: 31px;
  font-weight: 400;
  transition: height 1s ease;
}

.button {
  background: linear-gradient(45deg, #184c7c, black);
  color: #fff;
  padding: 12px 35px;
  border: 0;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.3s;
}

button.button:hover {
  background: #045db8;
}